# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
k6

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go vendor directory
vendor/

# IDE specific files
.idea/
*.swp
*.swo
*~
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/